@import 'imports';

#homePage {  
  .reviews {
    margin: auto;
    padding-top: $base-spacing;
    padding-bottom: $x-large-spacing;
    max-width: $max-width;
    
    position: relative;
    .blur {
      pointer-events: none;
      z-index: 1;
      box-shadow: inset 0 -20px 50px 30px #FFF;

      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    }
  }

  .card {
    margin: 16px;

    h3 {
      width: 100%;
      text-align: center;
      padding: $large-spacing 8px 0 8px;
      margin: 0;
    }

    .card-content {
      // height: 360px;
      overflow: hidden;
    }
  }
}
