@import 'imports';

#homePage {  
  .reviews {
    margin: auto;
    overflow: hidden;
    padding-top: $base-spacing;
    padding-bottom: $x-large-spacing;
    max-width: $max-width;
    
    position: relative;

    @media screen and (max-width: 700px) {
      max-width: 500px;
    }
  }

  .card {
    margin: 16px;
    

    h3 {
      width: 100%;
      text-align: center;
      padding: $large-spacing 8px 0 8px;
      margin: 0;
    }

    .card-content {
      height: 250px;

      @media screen and (max-width: 700px) {
        height: 100px;
        height: auto;
      }
      overflow: hidden;
    }
  }
}
