/* 
This file will be extracted to main dist folder and is imported in index.html.
This file is for setting global styles (styles for the whole site). 

If you need access to variables inside components, you will need to @import 
them inside the component's stylesheet.
*/

@import 'defaults';

// nav {
//   margin-top: 16px;
// }

// nav a {
//   background-color: $nav-button-color;
//   color: white;
//   padding: 8px 16px;
//   margin: 8px;
//   vertical-align: middle;
//   line-height: 1.25;
//   text-align: center;
//   text-decoration: none;
//   border-radius: 4px;
// }

$header-height: 85px;
$header-height-small: 60px;
$break-small: 640px;

header {
  .header-banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transition: all 0.25s linear;

    padding-right: 20px;
    padding-left: 20px;
    height: $header-height;
    line-height: $header-height;
    z-index: 100;

    @media screen and (max-width: $mobile) {
      height: $header-height-small;
    }

    // Background when the user scrolls past the hero image
    &.show-background {
      background-color: $site-black;
      opacity: 0.85;
    }
  }

  // .sliding-panel-button {
  //   float: left;
  //   margin-top: 5px;
  //   background-color: Transparent;

  //   &:hover {
  //     background-color: Transparent;
  //   }

  //   @media screen and (min-width: $mobile) {
  //     display: none;
  //   }
  // }

  // .sliding-panel-content {
  //   $action-color: #477DCA !default;
  //   $dark-gray: #333 !default;
  //   $sliding-panel-border-color: $dark-gray;
  //   $sliding-panel-background: lighten($sliding-panel-border-color, 5%);
  //   $sliding-panel-color: #fff;
  //   $sliding-panel-border: 1px solid $sliding-panel-border-color;
  //   $sliding-panel-background-hover: $action-color;
  //   $sliding-panel-color-hover: #fff;
  //   $sliding-panel-background-focus: lighten($sliding-panel-background, 5%);

  //   position: fixed, 0px auto 0px 0px;
  //   // @include size(220px 100%);
  //   transform: translateX(-220px);
  //   transition: all 0.25s linear;
  //   background: $sliding-panel-background;
  //   z-index: 999999;
  //   overflow-y: auto;
  //   -webkit-overflow-scrolling: touch;

  //   ul {
  //     padding: 0;
  //     margin: 0;
  //   }

  //   li {
  //     list-style: none;
  //   }

  //   li a {
  //     border-bottom: $sliding-panel-border;
  //     color: $sliding-panel-color;
  //     display: block;
  //     font-weight: bold;
  //     padding: 1em;
  //     text-decoration: none;

  //     &:focus {
  //       background-color: $sliding-panel-background-focus;
  //     }

  //     &:hover {
  //       background-color: $sliding-panel-background-hover;
  //       color: $sliding-panel-color-hover;
  //     }
  //   }

  //   &.is-visible {
  //     transform: translateX(0);
  //   }
  // }

  // .sliding-panel-fade-screen {
  //   position: fixed, 0px 0px 0px 0px;
  //   // @include transition;
  //   background: black;
  //   opacity: 0;
  //   visibility: hidden;
  //   z-index: 999998;

  //   &.is-visible {
  //     opacity: 0.4;
  //     visibility: visible;
  //   }
  // }

  .menu-items {
    @media screen and (max-width: $mobile) {
      display: none;
    }

    ul {
      float: right;
      color: $white;
    }

    li {
      display: block;
      float: left;
    }

    a {
      padding-right: 15px;
      padding-left: 15px;
      color: $white;
      font-size: 13px;

      &:active,
      &:focus,
      &:hover {
        color: #9c9999;
      }

      &.call-to-action {
        transition: background-color 0.1s ease-in-out;
        margin-left: 13px;
        border-width: 2px;
        border-style: solid;
        border-color: $white;
        padding: 11px 22px;

        &:hover {
          background-color: $white;
          color: $black;
        }
      }
    }
  }
}

.banner {
  position: absolute;
  width: 100%;
  height: 400px;

  &.full-screen-banner {
    height: 100%;
    min-height: 470px;
  }

  .banner-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .color-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(32,26,22,.7);
    z-index: 10;
  }

  .title-desc-wrapper {
    @include center;

    z-index: 15;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 300;

    .title {
      font-size: $base-font-size * 4.5;
      @include media($mobile-grid) {
          font-size: 2.25em;
      }
    }

    .desc {
      letter-spacing: 3px;
      color: rgb(156, 153, 153);
      font-size: $base-font-size * 1.45;
      @include media($mobile-grid) {
          font-size: 1.25em;
      }
    }
  }
}