@import 'imports';

#footer {
  background-color: #201a16;
  padding: $x-large-spacing 0;
  
  .text-block {
    color: white;
    text-align: center;
  }
  
  .disclaimer {
    color: rgba(255,255,255,.4);
    font-size: $small-font-size;
    
    a {
      color: rgba(255,255,255,.4);
      text-decoration: underline;
    }
  }
}