@import 'imports';

$header-height: 85px;
$header-height-small: 60px;
$break-small: 640px;

.top-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.sliding-panel-button {
  margin: 20px;
  padding: 0;
  display: inline-block;
  cursor: pointer;
  float: right;
  outline: none;
}

.header-wrapper {
  padding-right: 20px;
  padding-left: 20px;
  height: $header-height;
  @include transition(all 0.25s linear);


  &.floating-menu {
    background-color: $site-black;
    opacity: 0.85;
  }

  .menu-items {
    float: right;
    color: $white;

    li {
      display: block;
      float: left;
      height: $header-height;
      line-height: $header-height;
    }
  }

  a {
    padding-right: 15px;
    padding-left: 15px;
    color: $white;
    font-size: 13px;

    &:active,
    &:focus,
    &:hover {
      color: #9c9999;
    }

    &.call-to-action {
      transition: background-color 0.1s ease-in-out;
      margin-left: 13px;
      border-width: 2px;
      border-style: solid;
      border-color: $white;
      padding: 11px 22px;

      &:hover {
        background-color: $white;
        color: $black;
      }
    }
  }

  @media screen and (min-width: $break-small) {
    .sliding-panel-button {
      display: none;
    }
  }

  @media screen and (max-width: $break-small) {
    height: $header-height-small;
    a {
      display: none;
    }
  }
}

// .scroll-debug {
//   position: fixed;
//   bottom: 10px;
//   right: 10px;
// }
